html {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    height: 100%;
    font-family: "Source Sans Pro", sans-serif;
    margin:0 auto;
    background: #272128;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #b0bec5;
  text-align: center;
  letter-spacing: 5px;
  font-size: 1.75em;
  text-transform: uppercase;
}

img {
    max-width: 100%;
}

h5 { font-size: 1.35em; font-weight: 400; color: #424242;}

.divider {opacity: 0.35; margin-bottom: 1.5rem;}

.fixed {
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 2;
}

.nav {
  background: #008a7d;
}

.nav-mobile {
  border:1px solid blue;
}

.card-action { font-size: 0.8em;}

.card-wrap {
  height: 310px;
  overflow: hidden;
}

.card-image {
  height: 190px;
  overflow: hidden;
}

.card-content > p {font-size: 0.9em; font-weight: 300;}

.modal {z-index:5; margin-top: 15%;}

.modal-image {
  z-index:6;
  position:absolute;
  top: 16%;
  left: 12%;
  width: 245px;
  height: 170px;
  display:none;
}

.modal-overlay {
  z-index:4;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background-color: #212121;
  opacity: 0.90;
  overflow: auto;
}

#works {
  margin-top: 1rem;
}

#header {
  text-align: center;
  height: 323px;
  padding-top: 60px;
  font-weight: 300;
  color: #616161;
  padding-bottom: 1.5rem;
  transform-style: preserve-3d;
}

#logo-navbar {font-size: 1.75em; padding-left: 10px; position: relative; bottom: 5px;}
#workTitle > h3, #logo-navbar {font-family: "Poiret One", cursive; color: #fff; letter-spacing: 2px;}
#workTitle > h6 {color: #008a7d;letter-spacing: 3px;}
#silhouette {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #ffffff;
  margin: 0 auto;
}


/* JQUERY INTERACTIONS */

/* WORK CARDS OVERLAY
#card-layover {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.card-layover-content {
  position:relative:
  top: 10%;
  background-color: #fff;
  box-shadow: 0px 5px 5px #212121;
  margin:auto;
  margin-top: 15%;
  padding: 20px;
  width: 80%;
  color: #212121;
  z-index: 4;
}*/

/* SIZE ADJUSTMENTS ACCORDING TO SCREEN SIZE */
@media only screen and (max-width: 600px) {
  h2 {font-size: 2em;letter-spacing: 10px;};
}

@media only screen and (max-width: 992px) {
  h2 {font-size: 1.35em; letter-spacing: 3px;};
  .modal {margin-top: 30%;};
}



/* OPACITY CHANGES FOR JQUERY */
.opac-95 { opacity: 0.95; }
