body {
    height: 100%;
    font-family: "Lato", sans-serif;
    max-width: 80rem;
    margin:0 auto;
}

img {
    max-width: 100%;
}

h1, h2, h3, h5 {
    font-weight:bold;
    padding-top: 2rem;
    font-family: "Raleway", cursive;
    color: #000;
    /*text-shadow: #eee 0.2rem 0.2rem;*/
}

p, h4, ul, li {
    font-family: "Lato", sans-serif;
    color: #555;
}

/*link styles*/

p a, h4 a {
    color: #6ec4db;
}

p a:hover, p a:active, h4 a:hover, h4 a:active {
    color: #80e4ff;
    text-decoration: none;
}

#logo {
	font-family: "Poiret One", cursive;	
}

.btn-link {
    border: #6ec4db 0.15rem solid;
    padding: 0.2rem 0.3rem;
    color: #6ec4db;
}

.btn-link:hover {
    background-color: #80e4ff;
    color: #fff;
    text-decoration: none;
}

#btn-freelance, #btn-hire {
    border: #000 0.2rem solid;
    background-color: #fff;
    color: #000;
    line-height: 2rem;
    margin: 0.5rem 0.5rem;
    float: right;
    padding: 1rem 1.5rem;
}

#btn-freelance:hover, #btn-hire:hover {
    text-decoration: none;
    color: #fff;
}

#btn-freelance:hover {
    background-color: #fa7c92;

}

#btn-hire:hover {
    background-color: #66ab8c;
}

.icon {
    margin-right: 0.25rem;
    margin-top: 0.5rem;
}

.icon:hover {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

footer a {
    color: #000;
    line-height: 1.5rem;
}

footer a:hover {
    color: #66ab8c;
    text-decoration: none;
}


/*link styles end**/


#cover {
    background: #fff url('img/colorscheme_bg.jpg') center top no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    color: #000;
 }

#cover-caption {
    max-width: 100%;
    color: #000;
    text-align: right;
    padding-bottom: 2.5rem;
}

#about {
    padding-top: 2rem;
}

.blockquote {
    font-family: "Raleway", sans-serif;
    color: #66ab8c;
    font-size: 1.6rem;
    padding-bottom: 2rem;
}

.navbar {
    background-color: #fff;
}

.nav li{
    padding: 0 0.5rem;
    text-align: right;
    font-weight: bold;
    display: inline-block;
}

footer {
    background: #66ab8c url('img/colorscheme_bg.jpg') center bottom no-repeat;   
    background-size: cover;
    color: #000;
    padding: 1.5rem 0;
    font-size: 0.8rem;
    margin-top: 2rem;
}


.portfolio-item {
    padding: 3rem 0;
    display: block;

}

.portfolio {
    max-width: 100%;   
    text-align: center;
    border-bottom: #eee 0.1rem solid;
}

.portfolio, #about {
    background-size: cover;
    border-bottom: #eee 0.1rem solid;
}

.services-list li {
    border-bottom: #66ab8c 1px solid;  
}

.skills li {
    font-size: 0.8rem;
    background: #fa7c92;
    display: inline;
    align-items: center;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    line-height: 2rem;
    color: #fff;
    list-style-type: none;
    box-shadow: #eee 0.2rem 0.2rem;
    white-space: nowrap;
}

.section-caption h2, .section-caption {
    text-align: left;

}

.profile {
    text-align: center;
}
#contact h3, #about h3, #about h5 {
    padding-bottom: 1.5rem;
}

.circular-img {
    border-radius: 50%;
}
